/* ------ RESETS ------ */

* {
	box-sizing: border-box;
}

/* ------ SPACING ------ */

main{
    width: 25vw;
    padding:20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    height:100vh;
}

figure{
    display:block;
    margin:0;
    width:75vw;
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    overflow:hidden;
}

figure img{
    position:absolute;
    transition:all 3s ease;
}

.sect1{
    top:0px;
    left: calc(-3985px + 80vw);
}

.sect2, .sect3, .sect4, .sect5{
    width:3985px;
}

.sect2 {
    top: calc(-2988px + 320vh);
    left:calc(-3985px + 210vw);
}

.sect3 {
    top: calc(-2988px + 150vh);
    left:calc(-3985px + 220vw);
}

.sect4 {
    top:calc(-2988px + 100vh);
    left: calc(-3985px + 80vw);
}

.sect5 {
    width:133vh;
    top:0;
    left:50%;
    transform:translateX(-50%);  
}