/* ------- RESETS ------- */
body, h1, h2, h3, p{
 margin: 0;
 padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin:1em auto;
}

a, a:hover, a:visited{
    color:#b66202;
}

* {
 box-sizing: border-box;
}

/* ------ BASIC STYLING ------ */
body{
    background-color:#040F28;
    color:#f0f8ff;
}

header, footer{
    background-color:#0A1D4B;
    padding:2em 2em;
    min-width:400px;
}

header h1{
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.2em;

    margin-top:0.8em;
}

main{
    background-color:#e1e9fe;
    color:#040F28;
    font-family:Arial, Helvetica, sans-serif;

    min-width:400px;
    max-width:600px;
    margin:auto;
    padding:0 1.2em;
}

article{
    padding:4em 0;
}

article h2{
    font-size:2em;
    margin-bottom:0.4em;
}

article time{
    margin-bottom:1em;
    color:#0e2a6b;
}

article h3{
    margin-bottom:0.6em;
}

main p{
    font-size:1.1em;
    margin-bottom:1.4em;
    line-height:1.6em;
}

.image-caption{
    margin-left:1em;
}

footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.2em;
}

@media only screen and (min-width: 600px){
    main{
        margin-top:2em;
    }
}

@media only screen and (min-width: 1020px){
    header{
        padding:2.4em 2.4em;
    }
    
    main{
        max-width:800px;

        margin:4em auto;
        padding:2em 2em;
    }

    article{
        max-width:650px;
        margin:auto;
    }

    article p{
        line-height:2em;
    }
}