/* ------ RESETS ------ */

* {
	box-sizing: border-box;
}

.play{
    background-color:#2f517b;
    color:aliceblue;
    padding:0.6em;
    margin:1em 0;
    border-radius:1.2em;

    font-size:1.2em;
    transition: all 300ms ease;
}

.play:hover{
    scale:105%;
}

.hidden{
    display:none;
}

.bottom-left{
    position:fixed;
    left:20px;
    bottom:20px;
}

.arrow{
    width:100%;
    margin: 3em auto;
}

a, a:visited{
    color:#89b0e1;
}

footer{
    margin-left:1em;
    color:#d3e3f5;
}

h1{
    color:#f3f9ff;
}

/* ------ SPACING ------ */

main{
    width: 25vw;
    margin:0;
    padding:20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#0c1828;
}

main p{
    line-height:2em;
    color:#dfebf8;
}

section{
    height:100vh;
}

figure{
    display:block;
    margin:0;
    width:75vw;
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    overflow:hidden;
}

figure img{
    position:absolute;
    transition:all 3s ease;
    width:100%;
    height:100%;
    object-fit:cover;
}

.sect1{
    transform:scale(3);
    transform-origin:100% 10%;
}

.sect2 {
    transform: scale(3);
    transform-origin: 28% 15%;
}

.sect3 {
    transform: scale(4.2);
    transform-origin:32% 75%;
}

.sect4 {
    transform: scale(3);
    transform-origin:100% 100%;
}

.sect5 {
    transform:scale(1);
    transform-origin:50% 50%;
}